<div class="container">
    <header class="header">
        <nav class="navbar">
            <div class="navbar-container">
                <div class="logo">
                    <a routerLink="/inicio-usuario">
                        <span>CONTROL GASTOS</span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="welcome-bar">
            Podcast
        </div>
    </header>
    <main class="main-content">
        <br>
        <div *ngIf="isLoadingPodcasts">Cargando podcasts...</div>
        <div *ngIf="error" class="text-red">{{ error }}</div>
        <div class="floating-container" *ngIf="isPodcastPopupVisible">
            <div class="popup-header">
              <button (click)="closePodcastPopup()" class="close-btn">&times;</button>
            </div>
            <div class="popup-content">
              <iframe 
                *ngIf="selectedPodcastEmbedUrl" 
                [src]="selectedPodcastEmbedUrl" 
                width="100%" 
                height="380" 
                frameborder="0" 
                allowtransparency="true" 
                allow="encrypted-media">
              </iframe>
            </div>
          </div>
          
          <div class="white-container">
            <h1>Seleccione su podcast favorito.</h1>
            <div class="podcast-grid">
                <div *ngFor="let podcast of podcasts" class="podcast-card" (click)="selectPodcast(podcast.id)">
                    <div class="podcast-background">
                        <img class="podcast-image" [src]="podcast.images[0]?.url" alt="Imagen del Podcast">
                        <div class="podcast-content">
                            <h3 class="podcast-title">{{ podcast.name }}</h3>
                            <p class="podcast-description">{{ podcast.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>