* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #4a4657;
  color: white;
}

.navbar {
  height: 80px;
  background-color: #1c1c1c;
  padding: 15px 0;
  color: white;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 80px;
}

.welcome-bar {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border-top: 1px solid #ccc;
  font-weight: 600;
}

.main-content {
  background-image: url('../../../assets/Fodno_FML.png');
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main-content .white-container {
  background-color: #818181;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 13px 13px 23px rgba(0, 0, 0, 0.4);
  width: 90%;
  margin: 0 auto;
}

.main-content h1 {
  margin-top: 10;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.podcast-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.podcast-card {
  width: 260px;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  background-image: url('../../../assets/F2.jpg');
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.podcast-card:hover {
  transform: scale(1.1);
}

.podcast-card:hover .podcast-content {
  display: block;
}

.podcast-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/F1.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
}

.podcast-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}

.podcast-card:hover .podcast-image {
  filter: brightness(0.5);
}

.podcast-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  background: rgba(194, 194, 194, 0.85);
  color: rgb(0, 0, 0);
  padding: 10px;
  box-sizing: border-box;
  display: none;
  overflow-y: auto; /* Se activa el scroll cuando el contenido es largo */
  transition: max-height 0.3s ease;
}

.podcast-title {
  margin: 0;
  font-size: 1.2rem;
}

.podcast-description {
  font-size: 0.9rem;
  margin-top: 5px;
  line-height: 1.4;
}

.floating-container {
  position: fixed;
  top: 45%; /* Ajusta este valor para mover la ventana hacia abajo */
  left: 75%; /* Ajusta este valor para mover la ventana hacia la derecha */
  transform: translate(-50%, -50%); /* Mantiene el centrado relativo */
  background: rgb(156, 156, 156);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  width: 80%; /* Ancho de la ventana */
  max-width: 600px; /* Ancho máximo */
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Color de fondo del encabezado */
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-content {
  padding: 10px;
}