<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="#" class="footer-btn"><i class="fab fa-spotify"></i> Spotify</a>
      <a href="#" class="footer-btn"><i class="fas fa-map-marker-alt"></i> Mapbox</a>
      <a href="#" class="footer-btn"><i class="fab fa-paypal"></i> PayPal</a>
    </div>
    <div class="footer-info">
      <p>© 2025 Control Gastos.</p>
      <p><Data></Data>Desarrollado por:</p>
      <p>Cano Hernandez Isaac & Ramirez Ramirez Luis Manuel.</p>
      <br>
      <p>Todos los derrechos reservados.</p>
    </div>
  </div>
</footer>